<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container" >

<form>
    <div class="form-group">
      <label for="exampleInputEmail1">occupation title</label>
      <input type="text" class="form-control" id="exampleTitle" aria-describedby="titelHelp" placeholder="Enter title">
      <small id="titleHelp" class="form-text text-muted">Please enter title of occupation.</small>
    </div>
    <div class="form-group" class="m-3" >
        <label for="exampleInputEmail1">occupation description</label>
        <textarea type="text" class="form-control" id="exampleDescription" aria-describedby="descriptionHelp" placeholder="Enter description"></textarea>
        <small id="descriptionHelp" class="form-text text-muted">Please enter description of occupation.</small>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>

